/*-----------------------------------
-----------------mixins--------------
-------------------------------------*/

//Rem font size with px fallback for IE 8 and older
//assume base font-size set to 62.5% (so that default font-size is 10px, not 16px)
@mixin rem-font-size($size-value: 1.6) {
  font-size: ($size-value * 10) + px;
  font-size: $size-value + rem;
} 


//mixins for common usage
@mixin fontsize ($size, $line-height){
  font-size: $size;
  line-height: $line-height;
}
//e.g. @include fontsize($hdg-lrg, 1);


//extend-only placeholders

%clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
    clear: both;
  }
}

//Shortcuts mixins

// centre stuff horizontally
@mixin centre($width){
  left: 50%;
  transform: translateX(-50%); //avoids paint and layout
  width: $width;

  // lte ie9 (using modernizr)
  .no-csstransforms & {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: $width;
  }
}

// image replacement
//(using the Scott Kellum method)
@mixin hide-text($width, $height, $imgurl) {
  width: $width;
  height: $height;
  background: url($imgurl) no-repeat 0 0;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
// Usage:
.hide-text-from-browser {
  @include hide-text(100px, 100px, '../images/clubs.svg');
  display: inline-block;  

  //lte ie8 (using modernizr)
  .no-svg & {
    background: url('../images/recycle.png') no-repeat 0 0;
  }
}


