// Site variables 




/* site colours */
$color-dk: #333; //text on fff 
$color-mid: #555;
$color-lt: #999;
$color-faint: #e7e7e7;

//colour variables

$white: #fff;
$black: #000;
$olive: #80991c;

$red: #f00;
$orange: #f90;
$yellow: #ff0;
$green: #008000;
$blue: #00f;
$purple: #800080;


