//--------------typography-----------------

/* If serving on IIS, check MIME types - 
SVG and WOFF may need adding to list of MIME types in IIS */

//OPEN SANS
@font-face {
    font-family: 'sansreg'; //open sans regular
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansregitalic'; //open sans regular italic
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansbold'; //open sans bold
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansextrabold'; //open sans extra bold
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}




//text-sizes variables

$hdg-lrg: 4.4em;
$hdg-mid: 2.4em;
$hdg-sml: 2em;
$txt-s: 1em;
$txt-m:  1.6em;
$txt-l: 1.8em;

// headings and texts

%text {
	font-family: 'sansreg', sans-serif;
}
%textbold {
	font-family: 'sansbold', sans-serif;
    font-weight: normal;
}
%heading {
	font-family: 'sansextrabold', sans-serif;
    font-weight: normal;
}

// default text styling

h1 {
	@extend %heading;
	@include fontsize($hdg-lrg, 1);

    span {
        font-size: 60%;
        display: block;
    }
}
h2 {
	@extend %heading;
	@include fontsize($hdg-mid, 1);
	margin: 1.5em 0 .5em;
}
h3 {
	@extend %heading;
	@include fontsize($hdg-sml, 1);
	margin: 1.5em 0 .5em;
}
p, li, form {
	@extend %text;
	@include fontsize($txt-m, 1.4);
}
li p, li li {
    font-size: 1em;
}


