<div>footer scripts and breakpoints test</div>
<!-- #bptest -->
<!-- &nbsp; -->
<script src="/assets/js/vendors.min.js" type="text/javascript"></script>
<script src="/assets/js/apps.min.js" type="text/javascript"></script>
<!--[if lte IE 7]>
  <script src="/assets/css/fonts/icons/ie7/ie7.js" type="text/javascript"></script>
<![endif]-->