
    <header>
      <div class="centre">
        <p>header content (/templates/partials/site-header.hbs)</p>
        
        {{>nav-main}}

        
        
        <p>header content (/templates/partials/site-header.hbs)</p>
        {{#if homepage}}
        <h1>H1 header for Homepage only</h1>
        {{else}}
        
        {{/if}}  
      </div>
    	
    </header>