//-----------------footer----------------------

footer {
	/* background: $black;
	min-height: 50px;
	text-align: center;	
	position: relative;
	bottom: 0;
	width: 100%;
	.copyright {
		float: right;
		margin-right: 2em;
	} */
	
}

